@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');

div.icone img {
    width: 1530px;
    height: 100%;
    border-radius: 20px;
    width: 100%;    
}

img.icone {
    width: 20%;
    position: relative;
    min-width: 100px;
}

.li  {
    display: inline-flex;
    margin-inline: 20px;
}

.li img {
    max-width: 50px;
    width: 100%;
}


a {
    margin-inline: 10px;
    align-items: center;
}

div.icone {
    margin: auto;
    min-width: 100px;
    height: auto;
    width: 100%;
    max-width: 1150px;
    text-align: center;
}

.icone video {
    width: 100%;  
    margin: auto;
    border-radius: 30px;
    max-width: 1000px;
}



nav.cabe {
    position: relative;
    width: 100%;
    display: flex;
}

nav.cabe div{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 20px;
    justify-content: space-between;
}


.plan {
    font-family: 'Gotham Black', sans-serif;
    width: 100%;
    text-align: center;
}

.plan span {
    color: #ffad12;
    width: 100%;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    max-width: 1750px;
    width: 100%;
    align-items: center;
    font-size: 35px;
    color: #1c1c1c;
}

.plan h4 {
    font-size: 20px;
    margin-top: 20px;
    color: #1c1c1c;
}

section.p {
    width: 100%;
    max-width: 1750px;
    margin: auto;
    text-align: center;
    margin-bottom: 500px;
}

div.planos li {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Gotham-Black', sans-serif;
    display: inline;
    width: 100%;
    margin: auto;
    color: #212529;
}

div.planos {
    width: 100%;
    max-width: 1750px;
    display: flex;
    font-size: min(25px, 1.25vw);
    
}

.plano1 {
    width: 100%;
    margin-inline: 20px;
}
.plano1:hover {
    overflow: hidden;
    outline: 2px solid #ffad12;  
    border-radius: 20px;
}
.plano2:hover {
    overflow: hidden;
    outline: 2px solid #ffad12;  
    border-radius: 20px;
}
.plano3:hover {
    overflow: hidden;
    outline: 2px solid #ffad12;  
    border-radius: 20px;
}
.plano4:hover {
    overflow: hidden;
    outline: 2px solid #ffad12;  
    border-radius: 20px;
}
.plano2 {
    width: 100%;
    margin-inline: 20px;
}
.plano3 {
    width: 100%;
    margin-inline: 20px;
}
.plano4 {
    width: 100%;
    margin-inline: 20px;
}

h2.plano_ {
    font-family: 'Gotham-Medium', sans-serif;
    color: #ffad12;
    border: 1px solid #212529;
    border-radius: 30px;
    background-color: #1c1c1c;

}

div.none  h2{
    background-color: #1c1c1c;
    border-radius: 20px;
    color: #ffad12;
}

div#carouselExampleControls {
    margin: auto;
    max-width: 500px;
    width: 100%;
}


h3 {
    width: 100%;
    font-size: min(20px, 1.35vw);
    font-family: 'Gotham-Medium', sans-serif;
}
ol {
    padding: 0px;
}

h3.pag {
    width: 100%;
    font-family: 'Gotham-Medium', sans-serif;
}

div.none {
    display: none;
    margin: auto;
    width: 100%;
    max-width: 630px;
    text-align: center;
    list-style: none;
    font-family: 'Gotham-Medium', sans-serif;
    color: #1c1c1c;
    align-items: center;
}

div.plano1_ {
    border: 1px solid #ffad12;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


div.plano2_ {
    border: 1px solid #ffad12;
    border-radius: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div.plano3_ {
    border: 1px solid #ffad12;
    border-radius: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div.plano4_ {
    border: 1px solid #ffad12;
    border-radius: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div.none h3 {
    width: 100%;
    font-size: 10px;
    font-family: 'Gotham-Medium', sans-serif;
}

ol {
    list-style: none;
}

.whatsapp {
    position: fixed;
    top: 82%;
    right: 0%;
    max-width: 70px;
    width: 100%;
}

div.fotos {
    margin-top: -400px;
    margin-bottom: 40px;
}

.fotos h1 {
    margin: auto;
    font-family: 'Gotham Black', sans-serif;
    width: 100%;
    text-align: center;
}

.fotos span {
    color: #ffad12;
    width: 100%;
}

div.ava h1 {
    margin: auto;
    font-family: 'Gotham Black', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

div.avaimg {
    border: 5px solid #ffad12;
    border-radius: 40px;
    margin-bottom: 30px;
    background-color: white;
}

.ava span {
    color: #ffad12;
    width: 100%;
}

.avaimg img {
    height: 170px;
    width: 100%;
    margin: 10px;
}

div.sessao::-webkit-scrollbar {
    height: 10px;
   
}

div.sessao::-webkit-scrollbar-thumb {
    border: #1c1c1c 10px solid;
    border-radius: 30px;
   
}

div.sessaoava::-webkit-scrollbar {
    height: 10px;
    
}

div.sessaoava::-webkit-scrollbar-thumb {
    border: #1c1c1c 10px solid;
    border-radius: 30px;

}

footer {
    padding: 45px 20px 90px;
    background-color: black;
    align-items: center;
    margin-top: 150px;
    margin-left: -10px;
    margin-bottom: -100px;
}

.imgfot img {
    max-width: 200px;
    margin-bottom: 20px;
    margin-inline: 10px;
}

.imgfot h5 {
    font-size: 20px;
    color: white;
    font-family: 'Gotham-Medium', sans-serif;
}

.imgfot span {
    color: #ffad12;
}

.imgfot {
    max-width: 1000px;
   text-align: center;
   border-bottom: 1px solid white;
   margin: auto;
}


@media (max-width: 768px) and (min-width: 561px) {
    div.icone img {
        height: 700px;
        width: 100%;
    }
    ul.menu li {
        max-width: 60px;
        margin-inline: 0px;
        width: 100%;
    }
    nav.cabe div {
        padding: 0px;
    }
}

@media (max-width: 319px) {
    div.icone img {
        height: 700px;
        width: 100%;
    }
    ul.menu li {
        max-width: 30px;
        margin-inline: 0px;
        width: 100%;
    }
    nav.cabe div {
        padding: 0px;
    }
}

@media (max-width: 560px) and (min-width: 320px) {
    div.icone img {
        height: 700px;
        width: 100%;
    }
    ul.menu li {
        max-width: 50px;
        margin-inline: 0px;
        width: 100%;
    }
    nav.cabe div {
        padding: 0px;
    }
}

@media (max-width: 319px) {
    div.icone img {
        height: 700px;
        width: 100%;
    }
    ul.menu li {
        max-width: 35px;
        margin-inline: 0px;
        width: 100%;
    }
    nav.cabe div {
        padding: 0px;
    }
}

@media (max-width: 900px) and (min-width: 426px) {
    div.icone img {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .whatsapp {
        position: fixed;
        top: 82%;
        right: 0%;
        max-width: 40px;
        width: 100%;
    }
    div.sessao img {
        border: 1.5px solid #ffad12;
        border-radius: 15px;
    }
}

@media (max-width: 320px) {
    div.icone img {
        height: 450px;
    }
    div.sessao img {
        width: 100px;
        width: 100%;
    }
}

@media (max-width: 375px) and (min-width: 321px) {
    div.icone img {
        height: 500px;
    }
}

@media (max-width: 1025px) and (min-width: 1024px) {
    div.icone img {
        height: 500px;
    }
}

@media (max-width: 425px) and (min-width: 376px) {
    div.icone img {
        height: 550px;
    }
}

@media (max-width: 10000px) and (min-width: 1126px) {
    div.icone img {
        height: 700px;
    }
}

@media (max-width: 700px) {
    div.none {
        display: list-item;
    }
    section {
        display: none;
    }

    section.imgfot {
        display: list-item;
    }
    div.fotos {
        margin: auto;
    }
    
    .fotos h1 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    div.sessao {
        align-items: center;
        list-style: none;
        display: flex;
        overflow-x: scroll;
        -ms-overflow-style: none;
        
        gap: 30px;
    }
    
    div.sessao img {
        width: 300px;
        margin: 10px;
    }
    div.sessaoava {
        align-items: center;
        list-style: none;
        display: flex;
        overflow-x: scroll;
        -ms-overflow-style: none;
        
        gap: 30px;
    }
    
    div.sessaoava img {
        width: 300px;
        margin: 10px;
    }
}

@media (min-width: 769px) {
    div.sessao {
        align-items: center;
        list-style: none;
        display: flex;
        overflow-x: scroll;
        gap: 30px;
        max-width: 1300px;
        margin: auto;
        align-items: center;
    }

    div.sessao div {
        margin: auto;
    }
    
    div.sessao img {
        width: 400px;
        margin: 10px;
    }
    div.sessao img {
        border: 3px solid #ffad12;
        border-radius: 15px;
    }

    div.sessaoava {
        align-items: center;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 1300px;
        margin: auto;
        align-items: center;
    }

    div.sessaoava div {
        margin: auto;
    }
    
    div.sessaoava img {
        width: 400px;
        margin: 10px;
    }
    div.sessaoava img {
        border: 3px solid #ffad12;
        border-radius: 15px;
    }
}

@media (max-width:930px) {
    div.sessaoava {
        align-items: center;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 30px;
        max-width: 1300px;
        margin: auto;
        align-items: center;
    }

    div.sessaoava div {
        margin: auto;
    }
    
    div.sessaoava img {
        width: 400px;
        margin: 10px;
    }
    div.sessaoava img {
        border: 3px solid #ffad12;
        border-radius: 15px;
    }
}


@media (max-width:768px) {
    div.sessaoava {
        align-items: center;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 30px;
        max-width: 1300px;
        margin: auto;
        align-items: center;
    }

    div.sessaoava div {
        margin: auto;
    }
    
    div.sessaoava img {
        width: 300px;
        margin: 10px;
    }
    div.sessaoava img {
        border: 3px solid #ffad12;
        border-radius: 15px;
    }
}

@media (max-width:425px) {
    div.sessaoava {
        align-items: center;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 30px;
        max-width: 1300px;
        margin: auto;
        align-items: center;
    }

    div.sessaoava div {
        margin: auto;
    }
    
    div.sessaoava img {
        width: 290px;
        margin: 10px;
    }
    div.sessaoava img {
        border: 3px solid #ffad12;
        border-radius: 15px;
    }
}

@media (max-width: 375px) {
    div.sessao {
        align-items: center;
        list-style: none;
        display: flex;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: 20px;
        gap: 15px;
    }
    
    div.sessao img {
        width: 280px;
        margin: 10px;
    }
    div.sessaoava {
        align-items: center;
        list-style: none;
        display: flex;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: 20px;
        gap: 15px;
    }
    
    div.sessaoava img {
        width: 280px;
        margin: 10px;
    }
}

@media (max-width: 768px) {
    div.sessao img{
        height: 300px;
    }
}

@media (max-width: 358px) {
    div.sessaoava img {
        width: 250px;
    }
}

.imgfot a {
    text-decoration: none;
}

.imgfot a:hover {
    text-decoration: underline;
}